# Permitir acceso a todos los archivos en esta carpeta
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>


# Personalizar errores
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

