# Evitar redirecciones innecesarias en Cloudflare
RewriteEngine On

# Solo redirigir si no es un archivo estático
RewriteCond %{REQUEST_URI} !^/cdnsicam/ [NC]
RewriteCond %{REQUEST_URI} !^/(css|js|ia|ico|img|svg|fonts|videos|audios|plugins|letras|pdfs|plantillas|scripts|utilidades|soporte|errores|instrucciones)/ [NC]
RewriteCond %{REQUEST_URI} !\.(css|js|jpg|png|gif|ico|svg|woff|woff2|ttf|eot|json|xml|txt|pdf|html|txt)$ [NC] 
RewriteRule ^(.*)$ /cdnsicam/$1 [L,R=302]

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
