{% if Config.mantenimiento %}
{% include "mantenimiento.html.php" %}
{% else %}

    

        {% if Config.Evento2 %}
                {% include "evento3.html.php" %}
        {% else %}

            {% if Config.eventoCONTROLASISTENCIA %}
                {% include "control-asistencia.html.php" %}
            {% elseif Config.eventoESCARAPELA %}
                {% include "escarapela.html.php" %}
            {% elseif Config.eventoENCUESTA %}
                {% include "encuesta.html.php" %}
            {% else %}
                {% if Config.Evento %}
                    {% include "evento.html.php" %}
                {% else %}
                    {% include "inicio.html.php" %}
                {% endif %}
            {% endif %}

        {% endif %}


{% endif %}